@model SicherheitCore.Models.Requests.CreateTaskRequest
@using SicherheitCore.Models;
@Html.DropDownList("Priority", new SelectList(Enum.GetValues(typeof(SicherheitCore.Models.Task.TaskPriority)))))

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                @*@Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Priority)
                    @Html.ValidationMessageFor(model => model.Priority)
                </div>
            </div>
            @*<div class="form-group">
            <label asp-for="Priority" class="control-label"></label>
            <select asp-for="Priority" class="form-control"></select>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
